<?xml version="1.0"?><!--
/**
 * H&O Module Ho_OfflineMaintenance
 * Fork of the ArsOnIt_OfflineMaintenance module: http://www.magentocommerce.com/magento-connect/maintenance-page-artson-it.html
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the H&O Commercial License
 * that is bundled with this package in the file LICENSE_HO.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.h-o.nl/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@h-o.com so we can send you a copy immediately.
 *
 * @category    Ho
 * @package     Ho_OfflineMaintenance
 * @copyright   Copyright (c) 2012 H&O (http://www.h-o.nl/)
 * @license     H&O Commercial License (http://www.h-o.nl/license)
 */
/**
 * @category   Ho
 * @package    Ho_OfflineMaintenance
 * @author     H&O Developers <info@h-o.nl>
 */
-->
<config>
    <modules>
        <Ho_OfflineMaintenance>
            <version>2.0.0</version>
        </Ho_OfflineMaintenance>
    </modules>
    <global>
        <blocks>
            <ho_offlinemaintenance>
                <class>Ho_OfflineMaintenance_Block</class>
            </ho_offlinemaintenance>
        </blocks>
        <helpers>
            <ho_offlinemaintenance>
                <class>Ho_OfflineMaintenance_Helper</class>
            </ho_offlinemaintenance>
        </helpers>
        <models>
            <ho_offlinemaintenance>
                <class>Ho_OfflineMaintenance_Model</class>
            </ho_offlinemaintenance>
        </models>
    </global>
    <stores>
        <default>
            <web>
                <routers>
                    <standard>
                        <area>frontend</area>
                        <class>Ho_OfflineMaintenance_Controller_Router_Standard</class>
                    </standard>
                </routers>
            </web>
        </default>
    </stores>
    <default>
        <web>
            <routers>
                <standard>
                    <area>frontend</area>
                    <class>Ho_OfflineMaintenance_Controller_Router_Standard</class>
                </standard>
            </routers>
        </web>
        <dev>
            <offlinemaintenance>
                <enabled>0</enabled>
                <custom_message>0</custom_message>
                <message><![CDATA[
<style>
body {
background:#777777 none repeat scroll 0 0;
color:#FFFFFF;
font-family:Helvetica,Arial,Verdana,sans-serif;
font-size:12px;

margin:0;
padding:0;
text-align:center;
}
h1
{
    margin:0px;
    padding:0px;
    margin-top:30%;
    font-size: 25pt;
    display:block;
}
h2
{
    padding:0px;
    margin-top: 5px;
    font-size: 18pt;
}

</style>
</head>

<body>
<h1>We're sorry, but our website is under maintenance.</h1>
<h2>Please enjoy a quick cup of espresso and then try refreshing this page</h2>
]]>
                </message>
            </offlinemaintenance>
        </dev>
    </default>

    <adminhtml>
        <translate>
            <modules>
                <Ho_OfflineMaintenance>
                    <files>
                        <default>Ho_OfflineMaintenance.csv</default>
                    </files>
                </Ho_OfflineMaintenance>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ho_offlinemaintenance>
                                            <title>Offline Maintenance</title>
                                        </ho_offlinemaintenance>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>