<!--
/**
 * H&O Module Ho_OfflineMaintenance
 * Fork of the ArsOnIt_OfflineMaintenance module: http://www.magentocommerce.com/magento-connect/maintenance-page-artson-it.html
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the H&O Commercial License
 * that is bundled with this package in the file LICENSE_HO.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.h-o.nl/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@h-o.com so we can send you a copy immediately.
 *
 * @category    Ho
 * @package     Ho_OfflineMaintenance
 * @copyright   Copyright (c) 2012 H&O (http://www.h-o.nl/)
 * @license     H&O Commercial License (http://www.h-o.nl/license)
 */
/**
 * @category   Ho
 * @package    Ho_OfflineMaintenance
 * @author     H&O Developers <info@h-o.nl>
 */
-->
<config>
    <sections>
        <dev>
            <groups>
                <restrict>
                    <fields>
                        <allow_ips>
                            <frontend_model>ho_offlinemaintenance/adminhtml_system_config_ips</frontend_model>
                            <backend_model>ho_offlinemaintenance/system_config_arrayfield_ips</backend_model>
                        </allow_ips>
                        <current_ip translate="label comment">
                            <label>Current Ip</label>
                            <comment><![CDATA[This is the IP of the current connection.]]></comment>
                            <frontend_model>ho_offlinemaintenance/adminhtml_system_config_currentip</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </current_ip>
                    </fields>
                </restrict>
                <offlinemaintenance translate="label comment">
                    <label>Offline Settings</label>
                    <comment><![CDATA[<div style="margin:-15px -20px 10px -20px; padding: 8px 20px; background: #e7efef; border-bottom: 1px solid #cddddd;">
                        To view the website during offline mode you'll need to log in to the admin panel or add your IP to the "Developer Client Restrictions" section.
                    </div>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Store Offline</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <custom_message translate="label">
                            <label>Custom Message</label>
                            <comment>Show custom message instead of the default 503 page.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </custom_message>
                        <message translate="label">
                            <label>Message</label>
                            <frontend_type>textarea</frontend_type>
                            <depends><custom_message>1</custom_message></depends>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message>
                        <showreminder translate="label">
                            <label>Show Website Status </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showreminder>
                        <exclude_pages translate="label comment">
                            <label>Exclude Pages</label>
                            <comment><![CDATA[You can add your own paths to specific paths to exclude from the offline maintenance. Start with a /, ex.: <code>/api</code>]]></comment>
                            <frontend_model>ho_offlinemaintenance/adminhtml_system_config_exclude</frontend_model>
                            <backend_model>ho_offlinemaintenance/system_config_arrayfield_exclude</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </exclude_pages>
                    </fields>
                </offlinemaintenance>
            </groups>
        </dev>
    </sections>
</config>
